@media (max-width: 480px) {

    body {
        background: url("../img/main_bg_320.jpg.") no-repeat fixed 0px 0px;
    }

    .wrapper {
        min-width: 320px;
        max-width: 480px;

    }

    .header-logo {
        text-align: center;
    }

    .menu {
        text-align: center;
    }

    .menu__list {
        padding-top: 31px;
    }

    .menu__item {
        position: relative;
        width: 246px;
        margin: 0 auto;
    }

    .menu__item:hover {
        border-bottom: 1px solid #31203b;
        border-top: 1px solid #523e5a;
        background: rgba(54, 41, 62, 0.9);
        border-radius: 10px 10px 0 0;

    }

    .drop {
        overflow: hidden;
        text-decoration: none;
        display: none;
        position: absolute;
        width: 246px;
        top: 39px;
        left: 0;
        background: rgba(54, 41, 62, 0.9);
        border-radius: 0 0 10px 10px;
    }

    .menu__item:hover > .drop {
        display: block;
    }

    /*.menu__list:hover {*/
    /*display: block;*/
    /*}*/
    .menu__link {
        display: block;
        text-shadow: none;
        border-bottom: 2px solid transparent;
    }

    .menu__item_drop {
        border-top: 1px solid #523f5a;
        border-bottom: 1px solid #36283e;
    }

    .menu__link:hover {
        border-bottom: 2px solid #edbfff;
    }

    /*------ SLIDER -------*/
    .slider__content {
        position: relative;
        width: 320px;
        margin: 120px auto 0 auto;
        font-family: "League Gothic Regular", Arial, sans-serif;
    }

    .slider__article {
        width: 202px;
        margin: 0 auto;
        text-align: left;
        color: white;
        overflow: hidden;
    }

    .slider__h2 {
        font-size: 28px;
        word-spacing: -2.2px;
        letter-spacing: -2px;
    }

    .slider__h3 {
        white-space: nowrap;
        text-overflow: clip; /*Как обрезать текст ?*/
        color: #edbfff;
        margin-top: 4px;
        font-size: 11px;
        letter-spacing: -0.8px;
    }

    .slider__p {
        display: none;
    }

    .slider__image {
        display: none;
    }

    .slider__left-arrow a {
        position: absolute;
        width: 30px;
        height: 42px;
        top: 7px;
        left: -4px;
        background-image: url(../img/left-arrow.png);
    }

    .slider__right-arrow a {
        position: absolute;
        width: 27px;
        height: 42px;
        top: 7px;
        right: 0px;
        background-image: url(../img/right-arrow.png);
    }

    .slider__selector {
        margin-top: 20px;
    }

    .slider__selector__label {
        float: right;
        margin-right: 5px;
    }

    .radio {
        display: none;
    }

    .radio-custom {
        display: block;
        width: 17px;
        height: 17px;
        /*border: 2px solid #ccc;*/
        background-color: rgba(0,0,0,0.3);
        border-radius: 3px;
        position: relative;
    }
    .radio-custom, {
        display: inline-block;
        vertical-align: middle;
    }
    .radio:checked + .radio-custom::before {
        content: "";
        display: block;
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
        left: 2px;
        background: white;
        border-radius: 2px;
    }
    .radio-custom,
    .radio:checked + .radio-custom::before {
        border-radius: 50%;
    }

    /*.slider__selector {*/
        /*position: absolute;*/
        /*bottom: -92px;*/
        /*right: 110px;*/
        /*width: 87px;*/
        /*height: 16px;*/
        /*!*background-color: red;*!*/
        /*background-image: url(../img/slider-selector.png);*/
        /*background-repeat: no-repeat;*/
    /*}*/

    /*.slider__selector-item {*/
        /*float: left;*/
        /*width: 19px;*/
        /*height: 19px;*/
        /*margin-right: 2px;*/
        /*margin-top: -1px;*/
    /*}*/

    /*.slider__selector-item--selected {*/
        /*background-image: url(../img/slider-selected.png);*/
    /*}*/

    /*------------ TOP ROW ----------------*/
    .top-row {
        margin-top: 85px;
    }

    .row-content {
        max-width: 280px;
        margin: 0 auto;
        padding-top: 64px;
        padding-bottom: 65px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .row-content__block {
        padding-left: 63px;
        position: relative;
        padding-bottom: 30px;
    }

    .row-content__h2 {
        font-size: 24px;
    }

    /*------------ WHITE SLIDER ----------------*/
    .slides_white {
        background-color: white;
        padding-left: 35px;
        padding-top: 87px;
        padding-bottom: 80px;
    }

    .slides_white-container-text {
        position: relative;
        /*width: 257px;*/
        margin-left: 34px;
        padding-top: 23px;
        padding-left: 35px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
        /*background-color: #4eabda;*/
    }

    .photo {
        position: absolute;
        top: 16px;
        left: -24px;
    }

    .slides_white__h2,
    .slides_white__h3 {
        text-transform: uppercase;
        font-size: 25px;
        font-family: "league_gothicregular", Arial, sans-serif;
    }

    .slides_white__h2 {
        font-size: 24px;
    }

    .slides_white__h3 {
        color: #edbfff;
    }

    .slides_white__p {
        font-family: "Open Sans", Arial, sans-serif;
        font-size: 16px;
        line-height: 1.4;
        padding: 6px 60px 0px 3px;
        max-height: 134.4px;
        overflow: hidden;
    }

    .white-block-container {
        position: relative;
    }

    .slider__selector-white {
        position: absolute;
        top: -35px;
        right: 50px;
        background-color: white;
    }

    .radio-white {
        display: none;
    }

    .radio-custom-white {
        display: block;
        width: 17px;
        height: 17px;
        border: 2px solid #e8e8e8;
        /*background-color: black;*/
        border-radius: 50%;
        position: relative;
    }

    .radio-white:checked + .radio-custom-white::before {
        content: "";
        display: block;
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
        left: 2px;
        background: #5a5a5a;
        border-radius: 50%;
    }
    /*--------------- MIDLE ROW ----------------    */
    .middle-row {
        padding: 94px 20px 92px 20px;
        background-color: white;
        color: #454545;
    }

    .middle-row-content legend {
        font-family: "League Gothic Regular", Arial, sans-serif;
        font-size: 30px;
        letter-spacing: -3.1px;
    }

    .middle-row-content ul {
        font-family: "Open Sans", Arial, sans-serif;
    }

    .middle-row-content ul li {
        padding-top: 17px;
    }

    .row-content__p {
        font-size: 16px;
        line-height: 24px;
        max-height: 76px;
        overflow: hidden;
    }

    .row-content__link {
        padding-top: 10px;
        padding-left: 122px;
    }

    .preview {
        float: left;
    }

    .news {
        margin-left: 66px;
    }

    .news h4 {
        font-weight: bold;
    }

    .news p {
        padding-top: 10px;
        white-space: pre-wrap; /* Как запретить разрыв буквы от слова? */
    }

    .news__link {
        margin-left: 50%;
        white-space: nowrap;
        display: block;
        margin-top: 80px;
        font-family: "League Gothic Regular", Arial, sans-serif;
        text-decoration: none;
        font-size: 18px;
        letter-spacing: -1.5px;
        color: #454545;
    }

    /*------------ LOGOs -------------------*/
    .logos {
        background-color: white;
        padding: 7%;
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: space-around;
    }

    .logo {
        display: block;
        margin: 0 4%;
        width: 105px;
        height: 106px;
        background-image: url("../img/logos-768.png");
        background-repeat: no-repeat;
    }

    .logo_1 {
        background-position: 19px 0;
    }

    .logo_2 {
        background-position: -106px 0;
    }

    .logo_3 {
        background-position: -230px 0;
    }

    .logo_4 {
        background-position: -351px 0;
    }

    .logo_5 {
        background-position: -486px 0;
    }

    .logo_6 {
        background-position: -630px 0;
    }

    /*------------FOOTER----------------*/
    footer {
        color: white;
        padding: 47px 0 145px 0;
        text-align: center;
        background: url("../img/footer_bg.jpg");
        font-size: 12px;
        font-family: "Open Sans", Arial, sans-serif;
        text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
        box-shadow: inset 0 15px 15px  -15px #333;
    }

    footer span {
        font-weight: bold;
    }

}