@media (max-width: 480px) {

    body {
        background: url("../img/main_bg_320.jpg.") no-repeat fixed 0px 0px; /*Почему прыгает фон?*/
    }

    .wrapper {
        min-width: 320px;
        max-width: 480px;

    }

    .header-logo {
        text-align: center;
    }

.menu {
    text-align: center;
}

.menu__list {
    padding-top: 31px;
}

.menu__item {
    position: relative;
    width: 246px;
    margin: 0 auto;
}



.menu__item:hover {
    border-bottom: 1px solid #31203b;
    border-top: 1px solid #523e5a;
    background: rgba(54, 41, 62, 0.9);
    border-radius: 10px 10px 0 0;

}



.drop {
    overflow: hidden;
    text-decoration: none;
    display: none;
    position: absolute;
    width: 246px;
    top: 39px;
    left: 0;
    background: rgba(54, 41, 62, 0.9);
    border-radius: 0 0 10px 10px;
}


   .menu__item:hover > .drop {
        display: block;
    }
/*.menu__list:hover {*/
    /*display: block;*/
/*}*/

.menu__link {
    display: block;
    text-shadow: none;
    border-bottom: 2px solid transparent;
}


.menu__item_drop {
    border-top: 1px solid #523f5a;
    border-bottom: 1px solid #36283e;
}
.menu__link:hover {
    border-bottom: 2px solid #edbfff;
}

/*------ SLIDER -------*/

    .slider__content {
        position: relative;
        width: 320px;
        margin: 120px auto 0 auto;
        font-family: "League Gothic Regular", Arial, sans-serif;
    }

.slider__article {
    width: 202px;
    margin: 0 auto;
    text-align: left;
    color: white;
    overflow: hidden;
}

.slider__h2 {
    font-size: 35px;
    word-spacing: -8.2px;
    letter-spacing: -6px; /*   Как изменить ширину букв?  */
}

.slider__h3 {
    white-space: nowrap;
    text-overflow: clip;  /*Как обрезать текст ?*/
    color: #edbfff;
    margin-top: 4px;
    font-size: 18px;
}

.slider__p {
    display: none;
}

.slider__image {
    display: none;
}

    .slider__left-arrow a {
        position: absolute;
        width: 30px;
        height: 42px;
        top: 7px;
        left: -4px;
        background-image: url(../img/left-arrow.png);
    }
    .slider__right-arrow a {
        position: absolute;
        width: 27px;
        height: 42px;
        top: 7px;
        right: 0px;
        background-image: url(../img/right-arrow.png);
    }

    .slider__selector {
        position: absolute;
        bottom: -92px;
        right: 110px;
        width: 87px;
        height: 16px;
        /*background-color: red;*/
        background-image: url(../img/slider-selector.png);
        background-repeat: no-repeat;
    }

    .slider__selector-item {
        float: left;
        width: 19px;
        height: 19px;
        margin-right: 2px;
        margin-top: -1px;
    }

    .slider__selector-item--selected {
        background-image: url(../img/slider-selected.png);
    }

/*------------ TOP ROW ----------------*/

    .top-row {
        margin-top: 167px;
    }

    .row-content {
        max-width: 280px;
        margin: 0 auto;
        padding-top: 64px;
        padding-bottom: 65px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .row-content__block {
        padding-left: 63px;
        position: relative;
    }

    .row-content__h2 {
        font-size: 24px;
    }

    /*------------ WHITE SLIDER ----------------*/

    .slides_white {
        background-color: white;
        padding-left: 35px;
        padding-top: 87px;
    }


    .slides_white-container-text {
        position: relative;
        width: 257px;
        margin-left: 34px;
        padding-top: 23px;
        padding-left: 35px;

        background-color: #4eabda;
    }

    .photo {
        position: absolute;
        top: 16px;
        left: -24px;
    }

    .slides_white__h2,
    .slides_white__h3 {
        text-transform: uppercase;
        font-size: 25px;
        font-family: "league_gothicregular", Arial, sans-serif;
    }

    .slides_white__h2 {
        font-size: 24px;
    }

    .slides_white__h3 {
        color: #edbfff;
    }

    .slides_white__p {
        font-family: "Open Sans", Arial, sans-serif;
        font-size: 16px;
        line-height: 1.4;
        padding-top: 6px;
        padding-left: 3px;
    }


}