table {
    border-collapse: collapse;
}

tr,
td {
    border: 2px solid black;
}

td {
    width: 30px;
    /*height: 20px;*/
}

tr:nth-child(1) {
    height: 15px;
    width: 40px;
}

tr:nth-child(2) {
    height: 30px;
    width: 40px;
}

tr:nth-child(3) {
    height: 40px;
    width: 40px;
}

tr:nth-child(4) {
    height: 15px;
    width: 40px;
}

tr:nth-child(5) {
    height: 15px;
    width: 40px;
}

tr:nth-child(6) {
    height: 15px;
    width: 40px;
}

tr:nth-child(7) {
    height: 15px;
    width: 40px;
}

.cell_1 {
    width: 15px;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}

.darkblue {
    background-color: darkblue;
}

